body {
    font-family: Helvetica, Arial, sans-serif !important;
    line-height: 1.3em !important;
}

#navWrapper {
    display: none !important;
}

#contentContainer {
    margin-left: 0 !important;
}

#pagecontainer {
    font-size: 16px !important;
}

.heading p {
    font-size: 18px !important;
    margin: 0.15em 0 !important;
    display: inline-block;
}

.heading p:hover {
    color: #3C92D8 !important;
}

#splitter {
    display: none !important;
}

td {
    padding: 0 0 0 0.7em !important;
    height: auto !important;
}

.hero {
    height: auto !important;
}

#pageTitle {
    position: static !important;
}

.hero h1 {
    float: none !important;
    margin-top: 0.35em !important;
}

.hero h2 {
    position: static !important;
    margin: 0 !important;
}

.info {
    height: auto !important;
    padding: 0 0 0 3em !important;
}

.imgContainer {
    display: none !important;
}

.heading {
    margin: 0.2em 0 !important;
    font-size: 14px !important;
}

#maincol {
    padding: 1em 6em !important;
}

#maincol li {
    line-height: inherit !important;
    margin-bottom: 1em !important;
}

#hierarchy {
    font-size: 90% !important;
}

.expanded, .expandable {
    background-position: 0 !important;
}

#syntax {
    margin: 1em 0 !important;
}

.simplecode_api {
    background-color: #f7f7f7 !important;
    border: none !important;
    border-radius: 6px !important;
    margin: 0.5em !important;
    padding: 0.8em 1.3em !important;
    color: #303030 !important;
}

.simplecode_api a {
    text-decoration: underline !important;
}

.normal-row .type-span {
    font-family: SourceCodePro_Regular, monospace !important;
    font-size: 1em !important;
}

.member-list td {
    padding: 0.4em 0 0 0.7em !important;
}

th {
    width: auto !important;
    padding: 0 0 0 0.7em !important;
}

th.icon-cell {
    padding: 0 !important;
    width: 32px !important;
}

.icon-cell p {
    font-size: 4px !important;
}

td {
    border: none !important;
}

.name-cell {
    font-weight: bold !important;
}

.member-list tr:nth-of-type(2n) {
    background-color: #f3f3f3 !important;
}

/* TEMP: Hiding method args */

.name-cell-arguments {
    display: none !important;
}

#contentContainer a, #pagenav a {
    color: #3C92D8 !important;
}

#pagenav {
    font-size: 90% !important;
    height: auto !important;
    padding: 0 !important;
}

#pagenav .searchbox {
    padding: 0.4em 0.6em !important;
}

#search_container {
    padding: 0.9em 0 !important;
    margin: 0 !important;
    height: auto !important;
}

.searchbutton {}

#pagenav .crumbs {
    padding: 1.2em 1.5em 0.2em !important;
}

.member-list table {
    border: 1px solid #f0f0f0 !important;
}

.memberindexitem p {
    margin: 0 !important;
}

.toc li {
    padding: 0 !important;
    margin: 0 !important;
    line-height: 0.2em !important;
}

.toc {
    height: auto !important;
}

#tocScroll {
    height: auto !important;
}

.name-cell .type-span p {
    white-space: nowrap !important;
}